Brotli @ file:///D:/bld/brotli-split_1725267609074/work
certifi @ file:///C:/b/abs_3beajm7umk/croot/certifi_1745939228545/work/certifi
cffi @ file:///D:/bld/cffi_1725560649097/work
click @ file:///D:/bld/click_1734858834134/work
contourpy @ file:///D:/bld/contourpy_1744743084386/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1742822207/work
fiona==1.10.1
Flask @ file:///C:/b/abs_a6m37uz578/croot/flask_1737454335662/work
fonttools @ file:///D:/bld/fonttools_1743732239882/work
gunicorn==23.0.0
httptools @ file:///D:/bld/httptools_1732707687873/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459382062/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219610373/work
matplotlib==3.10.1
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1745118926334/work/dist/numpy-2.2.5-cp310-cp310-win_amd64.whl#sha256=7a60d0bb5fba1ad2c5b9822f85753eb7e52a972157c9a3e32667ef3a29337103
pandas @ file:///D:/bld/pandas_1744430476265/work
pillow @ file:///D:/bld/pillow_1735929734120/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1743607690/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyogrio @ file:///D:/bld/pyogrio_1732013392394/work
pyproj @ file:///D:/bld/pyproj_1742323250040/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work



PyYAML @ file:///D:/bld/pyyaml_1737454681229/work

rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist

scikit-learn @ file:///D:/bld/scikit-learn_1736496769467/work/dist/scikit_learn-1.6.1-cp310-cp310-win_amd64.whl#sha256=977a79db5e4eb246dda28a410e43e9cbb4f72e4de53e01672b1404501cace29a
scipy @ file:///C:/bld/scipy-split_1739790833536/work/dist/scipy-1.15.2-cp310-cp310-win_amd64.whl#sha256=4748853a0c723cda1fa2bdead847ba7c2443bde9cec3436e3e7243cfa54b55ff
shapely @ file:///D:/bld/shapely_1743678325867/work




typer==0.15.3
typer-slim==0.15.3

unicodedata2 @ file:///D:/bld/unicodedata2_1736692513154/work

uvicorn @ file:///D:/bld/uvicorn_1745173471370/work
watchfiles @ file:///D:/bld/watchfiles_1744451391194/work
websockets @ file:///D:/bld/websockets_1741285501074/work

win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work

zstandard==0.23.0
